<div class="row">
    <form role="form" ng-submit="search()">
        <div class="form-group">
            <div class="col-md-4">
                <input type="text" class="form-control" id="searchBox" placeholder="Enter a word to search for" ng-model="searchtext" ng-keyup="$event.keyCode == 13 ? search() : null">
            </div>
            <div class="col-md-3">
                <select class="form-control" id="language" ng-model="language" ng-change="setLastLang()">
                    <option value="deu">Deutsch</option>
                    <option value="eng">English</option>
                    <option value="spa" selected="selected">Español</option>
                    <option value="epo">Esperanto</option>
                    <option value="fra">Français</option>
                    <option value="jpn">日本語 (Japanese)</option>
                    <option value="cmn">中文 (Mandarin Chinese)</option>
                </select>       
            </div>
            <div class="col-md-3">
                <small>Don't see your language? <a href="https://github.com/peterjcarroll/wordmultisearch/issues/1">Request it here</a></small>
            </div>
            <div class="col-md-2">
                <input type="submit" ng-disabled="searchtext==''" ng-click="isCollapsed = !isCollapsed" class="btn btn-primary" id="searchBtn" value="Search">
            </div>
        </div>
    </form> 
</div>
<div id="settings" class="row" collapse="isCollapsed" ng-hide="true">
    <h3>Search settings</h3>
    <div class="well">
        <label for="nativelang">Your native language:</label>
        <div class="btn-group" dropdown>
            <button type="button" class="btn dropdown-toggle">{{ nativelang.name }} <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="lang in languages"><a href="#" ng-click="setNativeLang(lang.code)">{{lang.name}}</a></li>
            </ul>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="googlenewtabs">Open Google pages in new tabs</input>
            </label>
        </div>
    </div>
</div>
<a id="searchResults"></a>
<div class="row">
    <tabset>
        <tab ng-repeat="tab in tabs" heading="{{tab.name}}" active="tab.active" disabled="tab.disabled">
            <div style="position:relative; overflow:hidden; padding-top:0; padding-bottom:100%">
                <iframe ng-src="{{ tab.href }}" frameborder="0" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
            </div>
        </tab>
    </tabset>
</div>